<li [ngClass]="{'container':true, 'list-group-item': true, 'list-group-item-success': loveIts>0, 'list-group-item-danger': loveIts<0}">
    <div class="d-flex flex-row justify-content-between align-items-center">
        <h2 class="">{{ title }}</h2>
        <p class="">{{ created_at | date: 'short' }}</p>
    </div>
    <p>{{ content }}</p>
    <div class="">
        <button class="btn btn-success" (click)="onLove()">I love it!</button>
        <button class="btn btn-danger" (click)="onDislove()">I don't love it!</button>
    </div>
    
</li>
