<div class="list-group">
    <app-post-list-item *ngFor="let blogPost of blogPosts"
                        [title]="blogPost.title"
                        [content]="blogPost.content"
                        [loveIts]="blogPost.loveIts"
                        [created_at]="blogPost.created_at">
    </app-post-list-item>
</div>
